.add-todo{
    display: flex;
    align-items: center;
}
.input{
    width: 31.25rem; /* equivale a 500px */
    margin-right: 10px;
    margin-top: .5rem;
}
.mat-raised-button{
    display: flex;
    align-items: center;
    height: 2.1rem;
    margin-top: -5px;
}

.done{
    text-decoration: line-through;
}

@media (max-width: 700px){
    .input{
        width: 15.6rem;
        margin-top: .5rem;
    }
}

@media (max-width: 500px) {
    .mat-raised-button{
        padding: 0 5px;
    }
}