<h1 class="title">{{title}}</h1>
<ul *ngIf="mode=='list'">
  <p *ngIf="todos.length===0"><small>Não existem tarefas para hoje ainda.</small></p>
  <li *ngFor = "let todo of todos">
    {{todo.title}}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">
      <fa-icon [icon]="faCheckCircle"></fa-icon>
    </button>
    <button *ngIf="todo.done"(click)="markAsUndone(todo)">
      <fa-icon [icon]="faUndo"></fa-icon>
    </button>
    <button (click)="remove(todo)">
      <fa-icon [icon]="faWindowClose"></fa-icon>
    </button>
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'">
  <h1 class="center">Nova Tarefa</h1>
  <form [formGroup]= "form">
    <input type="text" placeholder="Insira uma tarefa" maxlength="50" formControlName="title" autofocus>
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine" class="danger">Este campo deve conter entre 3 e 50 caracteres</small>
    <p class="center">
      <button class="button" [disabled]="form.invalid" (click)="add()">Adicionar</button>
    </p>
  </form>
</div>

<button class="add-button button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <fa-icon [icon]="faPlusCircle"></fa-icon>
  NOVA TAREFA
</button>
<button class="add-button button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <fa-icon [icon]="faTimes"></fa-icon>
  CANCELAR
</button>