/* --------------------------------
Site:       TodoAng
CSS author: Raniel Sobrinho
-------------------------------- */
:root{
    --color-button: #fb9039;
    --background-gradient: #1f3044;
    --background-gradient-2: #646c79;
    --text-color: #f7f7f7;
    --text-color-in-white: #1f3044;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--background-gradient), var(--background-gradient-2));
    box-sizing: border-box;
}
body{
    width: 60%;
    color: var(--text-color);
    text-align: center;
    font-weight: 300;
}

small{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
}

.title{
    font-size: 3rem;
    text-shadow: 3px 5px var(--background-gradient);
}

ul{
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    color: var(--text-color-in-white);
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

li{
    padding: 10px;
    margin: 10px;
    font-size: 1.3rem;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

li:last-child{
    border-bottom: none;
}


li>button{
    border: none;
    background: var(--color-button);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;
    float: right;
    opacity: 0.8;
    transition: opacity 1s;
    border-radius: 2px;
    padding: 4px;
    margin: 0px 1px;
}

li>button:hover{
    opacity: 1;
    transition: opacity .5s;
}

.button{
    background: var(--color-button);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 100;
}

#modal{
    text-align: left;
    color: var(--text-color-in-white);
    margin: 10px 0px;
    padding: 10px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

#modal>h1{
    font-weight: 300;
    color: var(--background-gradient);
}

input{
    width: 100%;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2rem;
}

.danger{
    color: #ff0000;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

.center{
    text-align: center;
}

li>p{
    width:90%;
}

@media (max-width: 700px){
    body{
        width: 100%;
        font-weight: 200;
    }

    .title{
        font-size: 2rem;
    }
    small{
        justify-content: center;
        align-items: center;
    }

    ul{
        min-height: 2rem;
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
    }

    li{
        align-items: center;
        margin: 5px;
        font-size: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    li>p{
        font-size: 14px;
        width:100%
    }

    li>button{
        font-size: 1rem;
        opacity: 1;
        float: right;
        margin: 0px 1px;
    }

    #modal>h1{
        font-weight: 200;
    }

    input{
        line-height: 30px;
    }
}