/* You can add global styles to this file, and also import other style files */
:root{
    --color-button: #fb9039;
    --background-gradient: #1f3044;
    --background-gradient-2: #646c79;
    --text-color: #f7f7f7;
    --text-color-in-white: #1f3044;
}
html{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--background-gradient), var(--background-gradient-2));
}
body{
    width: 60%;
    color: var(--text-color);
    text-align: center;
    font-weight: 300;
    border-radius: 10px;
}
button{
    background: var(--color-button);
    color: var(--text-color);
    cursor: pointer;
}

ul{
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    color: var(--text-color-in-white);
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

